<h2><strong>Contact</strong></h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ipsa officiis blanditiis voluptatem mollitia vero odio. Blanditiis iure, reprehenderit corporis minus deserunt, quasi tempore magni nisi adipisci iste aliquid hic.</p>
<div class="justify-content-center">
<div class="p-3 mb-2 bg-body text-dark border border-2 border-dark position-relative " style="width: 1500px;">
    <div class="row mb-3 justify-content-center">
        <label for="colFormLabel" class="col-sm-2 col-form-label"><strong>Your E-mail</strong></label>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="colFormLabel" placeholder="Your E-mail">
        </div>
    </div>
    <div class="row mb-3 justify-content-center">
        <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label"><strong>Your message</strong></label>
        <div class="col-sm-5">
            <input type="email" class="form-control " id="colFormLabel" placeholder="Please enter your message here...">
        </div>
    </div>
    <div class="d-flex justify-content-end"><button type=" button" class="btn btn-primary">Primary</button></div>
</div>
</div>